<!-- <div class="container">
  
  <form style="background: white; justify-content: center" (ngSubmit)="uploadVideo()" #uploadForm="ngForm">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input {{video.path}}</label>
      <input type="file" (change)="readUrl($event)" class="form-control-file"  
      id="exampleFormControlFile1" [(ngModel)]="video.filePath" id="filePath" name="filePath" >
    </div>
    
    <div class="form-group">
      <label>File Name:</label> &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text"  required [(ngModel)]="video.fileName" name="fileName">

    </div>
    <div class="form-group">
        <label>Description:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text"  maxlength="1000" required [(ngModel)]="video.description" name="description">
    </div>
    <div class="form-group">
        <input type="submit" value="Upload">
    </div>
  </form>
</div> -->
<div class="container">
  
  <form style="background: white; justify-content: center" (ngSubmit)="uploadVideo()" #uploadForm="ngForm">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input {{video.path}}</label>
      <input type="file" (change)="onFileSelected($event)" class="form-control-file"  
      id="exampleFormControlFile1" [(ngModel)]="video.filePath" id="filePath" name="filePath" accept="*/*">
    </div>
    
    <div class="form-group">
      <label>Title:</label> &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text"  required [(ngModel)]="video.title" name="title">

    </div>
    <div class="form-group">
        <label>Description:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text"  maxlength="1000" required [(ngModel)]="video.description" name="description">
    </div>
    <div class="form-group">
        <label>Category:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select  [(ngModel)]="video.category" name="category">
         
          <option >Sports</option>
          <option >Music</option>
          <option >entertainment</option>
        </select>
       
    </div>
    <div class="form-group">
        <input type="submit" value="Upload">
    </div>
  </form>
  <button type="submit" (click)="fetch()">Fetch</button>
</div>
<!-- <div>
  <img [src]="url">
</div> -->
<div>
<video [src]="url" width="320" height="240" controls></video>
</div>
<div>
  <button type="submit" (click)="fetchAll()">Fetch All</button>
</div>
<div *ngFor="let url1 of url2">
  <video width="320" height="240" controls>
    <source [src]= "url1">
  </video>
</div>
